{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login-form">
        <h1>Register</h1>

        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm)}}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn form-button">Register</button>
            <button class="btn form-button"><a href="{{ path('app_login') }}">LogIn</a></button>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
